body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    background: rgb(240, 247, 253);
    overflow-x: scroll
}

.legend {
    position: fixed;
    right: 0;
    bottom: 10;
    width: 16.5vw;
    height: 6vh;
    color: white;
    border: 1px solid #002d72;
    background-color: #002d72;
    border-radius: 0.5em;
    margin-top: 100px;
    margin-right: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    box-shadow: 0 10px 16px 3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
}
.legend-item {
    display: flex;
    color: white;
    align-items: center;
    margin-top: 5px;
    margin-right: 10px;
}
.legend-color {
    width: 20px;
    height: 20px;
}
.legend-text {
    font-size: 14px;
}


.titl {
    padding-top: 0;
    margin-top: 1.5rem;
    font-size: 2em;
    position: relative;
    font-weight: normal;
    left: 8rem;
    color: rgb(255, 255, 255);
}

div#root {
    padding: 0;
    margin: 0;
    padding-right: calc(24vw + 2em);
    position: relative;
}

.smol {
    font-size: 0.45em;
    color: rgb(218, 218, 218);
}



.svgConns {
    position: absolute;
}

.classBox {
    width: 12em;
    height: 5em;
    text-align: center;
    border-radius: 0.5em;
    position: absolute;
    box-shadow: 0 10px 16px 3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease;
}



/* by level */

div#root[colorcode="level"] .yl-1 {
    border-style: solid;
    border-color: #f3ec67;
    border-width: 2px;
    background-color: #f9f069;
}

div#root[colorcode="level"] .yl-2 {
    border-style: solid;
    border-color: #cdf69c;
    border-width: 2px;
    background-color: #cdf69c;
}

div#root[colorcode="level"] .yl-3 {
    border-style: solid;
    border-color: #a3d8f3;
    border-width: 2px;
    background-color: #a3d8f3;
}

div#root[colorcode="level"] .yl-4 {
    border-style: solid;
    border-color: #dcd0f6;
    border-width: 2px;
    background-color: #dcd0f6;
}

div#root[colorcode="level"] .yl-5 {
    border-style: solid;
    border-color: #dfdede;
    border-width: 2px;
    background-color: #dfdede;
}

/* the explaination (description) section */




div#explain {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 16.5vw;
    height: 50vh;
    border: 1px solid #002d72;
    background-color: #002d72;
    border-radius: 0.5em;
    margin-right: 32px;
    margin-bottom: 32px;
    padding: 1rem;
    display: fixed;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    overflow-y: scroll;
    box-shadow: 0 10px 16px 3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
}

div#explain-topp {
    padding: 0.6em 0;
    font-size: 1.15em;
    text-align: center;
    font-weight: 900;
    color: white;
}

div#explain-desc {
    padding: 0.4em 1em;
    color: rgb(218, 218, 218);
}

div#explain-prereq-list-div {
    padding: 0.4em 1em;
   color: white;
}

div#explain-hint {
    text-align: center;
    font-size: 1.6em;
    color: #ffffff;
}

/* the top right settings section */

div#settings-bar {
    position: fixed;
    right: 0;
    top: 0;
    text-align: right;
    padding: 1rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    margin-right: 16px;
}

/* the size/zoom slide bar */

div#zoom-size-div {
    font-size: 1.2em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 1.1rem 2rem;
    /* border: 2px solid white; */
    border-radius: 0.5em;

    background: #002d72;
    
    right: 0;
    bottom: 10;
    width: 19vw;
    height: 4vh;
    display: fixed;
    margin-top: 100px;
    margin-bottom: 32px;
    justify-content: center;
    align-items: center;

    margin-top: 1em;
}

#zoom-range-slider {
    width: 16.5em;
    margin-left: 15px;
}

.course-code-full {
    font-weight: 900;
}

.wide-bg-colour{
    text-align: left;
    background-color: #004c9b;
    display: block;
    padding: 4px;
    margin-bottom: 56px;
    width: 200em;
}

#zoom-value{
    margin-left: 12px;
}
